body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, :before, :after{
  box-sizing: border-box;
}

@font-face {
  font-family: brush;
  src: url(./assets/fonts/brush.ttf);
}

h1,h2,h3{
  font-family: brush;
  font-weight: 100;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}